extends layout

block content
  .vcenter
    .panel.panel-msu(style='width: 100%').text-strong
      .panel-heading
        span#day.text-large loading date
        span#time.text-large.pull-right loading time
      ul.list-group
        //- ccf
        li.list-group-item#ccf
          .row
            .col-lg-2.text-msu CCF Current Experiment
            .col-lg-2.col-lg-offset-8.text-msu Experimenter in Charge
          .row
            .col-lg-2.text-large
              .strong
                span#ccf_experiment_number
                != ' - '
                span#ccf_experiment_spokesperson
            .col-lg-8.text-large
              span.strong#ccf_experiment_title
            .col-lg-2.text-large
              span.strong#ccf_experimenter_in_charge
          .row
            .col-lg-2.text-msu ARTEMIS K500
            .col-lg-2.text-msu K1200
            .col-lg-2.text-msu RF Frequency
            .col-lg-1.text-msu A1900
            .col-lg-1.text-msu Vault
            .col-lg-4.text-msu Status
          .row
            .col-lg-2.text-large
              .strong
                sup#k500_mass
                span#k500_element
                sup
                  span#k500_charge
                != ' '
                span#k500_energy
                != ' '
                | MeV/u
            .col-lg-2.text-large
              .strong
                sup#k1200_mass
                span#k1200_element
                sup
                  span#k1200_charge
                != ' '
                span#k1200_energy
                != ' '
                | MeV/u
            .col-lg-2.text-large
              .strong
                span#ccf_rf
                != ' '
                | MHz
            .col-lg-1.text-large
              .strong
                sup#a1900_mass
                span#a1900_element
                sup
                  span#a1900_charge
            .col-lg-1.text-large
              span.strong#ccf_vault
            .col-lg-4.text-large
              span.strong#ccf_status
          .row
            .progress.no-extra-space#ccf_progress
              //- .progress-bar.progress-bar-exr(style='width: 20%') EXR
              //- .progress-bar.progress-bar-sof(style='width: 10%') SOF
              //- .progress-bar.progress-bar-uof(style='width: 10%') UOF
              //- .progress-bar.progress-bar-pdt(style='width: 10%') PDT
              //- .progress-bar.progress-bar-sdt(style='width: 10%') SDT
              //- .progress-bar.progress-bar-idt(style='width: 10%') IDT
              //- .progress-bar.progress-bar-exr(style='width: 20%') EXR
              //- .progress-bar.progress-bar-xdt(style='width: 10%') XDT
          .row
            .time-axis
              .time-spot-end now
              .time-spot.text-center 6 hours ago
              .time-spot.text-center 12 hours ago
              .time-spot.text-center 18 hours ago
              .time-spot-end.text-right 24 hours ago
        //- rea
        li.list-group-item
          .row
            .col-lg-2.text-msu ReA Current Experiment
            .col-lg-2.col-lg-offset-8.text-msu Experimenter in Charge
          .row
            .col-lg-2.text-large
              .strong
                span#rea_experiment_number
                != ' - '
                span#rea_experiment_spokesperson
            .col-lg-8.text-large
              span.strong#rea_experiment_title
            .col-lg-2.text-large
              span.strong#rea_experimenter_in_charge
          .row
            .col-lg-2.text-msu EBIT ReA
            .col-lg-2
            .col-lg-2.text-msu RF Frequency
            .col-lg-1
            .col-lg-1.text-msu Vault
            .col-lg-4.text-msu Status
          .row
            .col-lg-2.text-large
              .strong
                sup#rea_mass
                span#rea_element
                sup
                  span#rea_charge
                != ' '
                span#rea_energy
                != ' '
                | MeV/u
            .col-lg-2.text-large

            .col-lg-2.text-large
              strong#rea_rf 80.500
                != ' '
                | MHz
            .col-lg-1.text-large
            .col-lg-1.text-large
              strong#rea_vault
            .col-lg-4.text-large
              strong#rea_status
          .row
            .progress.no-extra-space#rea_progress
          .row
            .time-axis
              .time-spot-end now
              .time-spot.text-center 6 hours ago
              .time-spot.text-center 12 hours ago
              .time-spot.text-center 18 hours ago
              .time-spot-end.text-right 24 hours ago
        //- Operators
        li.list-group-item
          .row
            .inline
              img#charge_image(alt='Operator in charge', height='144px', data-src='holder.js/108x144/text:Operator in charge')
            .inline
              .text-msu Operator
              .text-msu in charge
              .text-large
                .strong#charge_first
                .strong#charge_last
            .inline
              img#shift_image(alt='Operator on shift', height='144px', data-src='holder.js/108x144/text:Operator on shift')
            .inline
              .text-msu Operator
              .text-msu on shift
              .text-large
                .strong#shift_first
                .strong#shift_second
            .inline
              img#beam_image(alt='Beam Physicist on call', height='144px', data-src='holder.js/108x144/text:Beam Physicist on call')
            .inline
              .text-msu Beam
              .text-msu Physicist
              .text-msu on call
              .text-large
                .strong#beam_first
                .strong#beam_last
            .inline
              img#co_image(alt='Beam Coordinator', height='144px', data-src='holder.js/108x144/text:Beam Coordinator')
            .inline
              .text-msu Beam
              .text-msu Coordinator
              .text-large
                .strong#co_first
                .strong#co_last
        //- Status
        li.list-group-item
          .row
            .col-lg-2.text-large.text-center
              .strong CCF Attenuator:
                span#ccf_att
            .col-lg-2.text-large
              .row.text-center
                  strong Vault Secure Status
              .row
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle#k5
                .col-lg-3
                  strong K500
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle#s1
                .col-lg-3
                  strong S1
              .row
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle#k12
                .col-lg-3
                  strong K1200
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle#s3
                .col-lg-3
                  strong S3
              .row
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle#a19
                .col-lg-3
                  strong A1900
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle#n3
                .col-lg-3
                  strong N3
              .row
                .col-lg-1.col-lg-offset-1
                .col-lg-3
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle#n4
                .col-lg-3
                  strong N4
            .col-lg-8
              #beam-plot


block js
  script(type='text/javascript', src='/dependencies/jquery/dist/jquery.js')
  script(type='text/javascript', src='/dependencies/dygraphs/dygraph-combined.js')
  script(type='text/javascript', src='/dependencies/holderjs/holder.js')
  script(type='text/javascript', src='/dependencies/moment/moment.js')
  script(type='text/javascript', src='/dependencies/jsonpath/lib/jsonpath.js')
  script(type='text/javascript', src='/javascripts/datau.js')
