extends layout

block content
  .vcenter
    .panel.panel-msu(style='width: 100%').text-strong
      .panel-heading
        span#day.text-large loading date
        span#time.text-large.pull-right loading time
      ul.list-group
        //- ccf
        li.list-group-item
          .row
            .col-lg-2.text-msu CCF Current Experiment
            .col-lg-2.col-lg-offset-8.text-msu Experimenter in Charge
          .row
            .col-lg-2.text-large
              strong#ccf-exp 09085 - Fallen, P.
            .col-lg-8.text-large
              strong#ccf-exp-long Proton Spectroscopic Factors in Neutron-rich Sulphur Isotopes
            .col-lg-2.text-large
              strong#ccf-exper Andreas Wiens
          .row
            .col-lg-2.text-msu ARTEMIS K500
            .col-lg-2.text-msu K1200
            .col-lg-2.text-msu RF Frequency
            .col-lg-1.text-msu A1900
            .col-lg-1.text-msu Vault
            .col-lg-4.text-msu Status
          .row
            .col-lg-2.text-large
              strong#k500
                sup#k500-mass 48
                span#k500-element Ca
                sup
                  span#k500-charge 8+
                != ' '
                span#k500-energy 12.28
                != ' '
                | MeV/u
            .col-lg-2.text-large
              strong#k1200
                sup#k1200-mass 48
                span#k1200-element Ca
                sup
                  span#k1200-charge 20+
                != ' '
                span#k1200-energy 140
                != ' '
                | MeV/u
            .col-lg-2.text-large
              strong#ccf-rf 23.11780
                != ' '
                | MHz
            .col-lg-1.text-large
              strong#a1900
                sup#a1900-mass 44
                span#a1900-element S
            .col-lg-1.text-large
              strong#ccf-vault S3
            .col-lg-4.text-large
              strong#status Experiment Running
          .row
            .progress.no-extra-space
              .progress-bar.progress-bar-exr(style='width: 20%') EXR
              .progress-bar.progress-bar-sof(style='width: 10%') SOF
              .progress-bar.progress-bar-uof(style='width: 10%') UOF
              .progress-bar.progress-bar-pdt(style='width: 10%') PDT
              .progress-bar.progress-bar-sdt(style='width: 10%') SDT
              .progress-bar.progress-bar-idt(style='width: 10%') IDT
              .progress-bar.progress-bar-exr(style='width: 20%') EXR
              .progress-bar.progress-bar-xdt(style='width: 10%') XDT
          .row
            .time-axis
              .time-spot-end now
              .time-spot.text-center 6 hours ago
              .time-spot.text-center 12 hours ago
              .time-spot.text-center 18 hours ago
              .time-spot-end.text-right 24 hours ago
        //- rea
        li.list-group-item
          .row
            .col-lg-2.text-msu ReA Current Experiment
            .col-lg-2.col-lg-offset-8.text-msu Experimenter in Charge
          .row
            .col-lg-2.text-large
              strong#ccf-exp 09085 - Fallen, P.
            .col-lg-8.text-large
              strong#ccf-exp-long CCF+ReA Coupled Operations
            .col-lg-2.text-large
              strong#ccf-exper
          .row
            .col-lg-2.text-msu EBIT ReA
            .col-lg-2
            .col-lg-2.text-msu RF Frequency
            .col-lg-1
            .col-lg-1.text-msu Vault
            .col-lg-4.text-msu Status
          .row
            .col-lg-2.text-large
              strong#rea
                sup#rea-mass 44
                span#rea-element S
                sup
                  span#rea-charge 8+
                != ' '
                span#rea-energy 1.2
                != ' '
                | MeV/u
            .col-lg-2.text-large

            .col-lg-2.text-large
              strong#rea-rf 80.5
                != ' '
                | MHz
            .col-lg-1.text-large
            .col-lg-1.text-large
              strong#rea-vault ReA
            .col-lg-4.text-large
              strong#status Experiment Running
          .row
            .progress.no-extra-space
              .progress-bar.progress-bar-exr(style='width: 35%') EXR
              //- .progress-bar.progress-bar-danger(style='width: 10%')
              //- .progress-bar.progress-bar-success(style='width: 55%')
          .row
            .time-axis
              .time-spot-end now
              .time-spot.text-center 6 hours ago
              .time-spot.text-center 12 hours ago
              .time-spot.text-center 18 hours ago
              .time-spot-end.text-right 24 hours ago
        //- Operators
        li.list-group-item
          .row
            table
              tr
                td
                  img(data-src='holder.js/100x150/text:Operators in charge')
                td(width='100px')
                  table
                    tr(height='70px')
                      td
                        .text-msu Operators in charge
                    tr(height='80px')
                      td
                        .text-large
                          strong.name First Last
                td
                  img(data-src='holder.js/100x150/text:Operators on shift')
                td(width='100px')
                  table
                    tr(height='70px')
                      td
                        .text-msu Operators on shift
                    tr(height='80px')
                      td
                        .text-large
                          strong.name First Last
                td
                  img(data-src='holder.js/100x150/text:Beam Physicist on call')
                td(width='100px')
                  table
                    tr(height='70px')
                      td
                        .text-msu Beam Physicist on call
                    tr(height='80px')
                      td
                        .text-large
                          strong.name First Last
                td
                  img(data-src='holder.js/100x150/text:Beam Coordinator')
                td(width='100px')
                  table
                    tr(height='70px')
                      td
                        .text-msu Beam Coordinator
                    tr(height='80px')
                      td
                        .text-large
                          strong.name First Last

        //- Status
        li.list-group-item
          .row
            .col-lg-2.text-large.text-center
              strong CCF Attenuator: 1K
            .col-lg-2.text-large
              .row.text-center
                  strong Vault Secure Status
              .row
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle.text-success
                .col-lg-3
                  strong K500
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle.text-muted
                .col-lg-3
                  strong S1
              .row
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle.text-success
                .col-lg-3
                  strong K1200
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle.text-success
                .col-lg-3
                  strong S3
              .row
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle.text-success
                .col-lg-3
                  strong A1900
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle.text-muted
                .col-lg-3
                  strong N3
              .row
                .col-lg-1.col-lg-offset-1
                .col-lg-3
                .col-lg-1.col-lg-offset-1
                    i.fa.fa-circle.text-muted
                .col-lg-3
                  strong N4
            .col-lg-6
              #beam-plot


block js
  script(type='text/javascript', src='/dependencies/jquery/dist/jquery.js')
  script(type='text/javascript', src='/dependencies/dygraphs/dygraph-combined.js')
  script(type='text/javascript', src='/dependencies/holderjs/holder.js')
  script(type='text/javascript', src='/dependencies/moment/moment.js')
  script(type='text/javascript', src='/javascripts/datau.js')
