extends layout

block content
  .vcenter
    .panel.panel-msu(style='width: 100%')
      .panel-heading date and time here
      //- .panel-body
      ul.list-group
        li.list-group-item CCF
        li.list-group-item ReA
        li.list-group-item Operators
        li.list-group-item Status
