extends layout

mixin space
  span &nbsp;

mixin progress(id)
  .bar-wrap
    .progress.no-extra-space(id=id)
    .progress-marker(style='right:25%')
    .progress-marker(style='right:50%')
    .progress-marker(style='right:75%')
mixin time-axis
  .time-axis
    .time-spot-end now
    .time-spot.text-center 6 hours ago
    .time-spot.text-center 12 hours ago
    .time-spot.text-center 18 hours ago
    .time-spot-end.text-right 24 hours ago

block content
  .panel.panel-msu(style='width: 100%').text-strong
    .panel-heading#heading
      span#day.text-xlarge loading date
      span#time.text-xlarge.pull-right loading time
    .panel-body#body
      .row
        .well#ccf
          .row
            .col-lg-3.col-md-3.col-sm-6.col-xs-6
              .row
                .text-msu CCF Current Experiment
              .row
                .text-xlarge
                  span#ccf_experiment_number
                  != ' - '
                  span#ccf_experiment_spokesperson
            .col-lg-6.col-md-6.col-sm-6
              .row
                .text-large.text-center
                  span#ccf_experiment_title
            .col-lg-3.col-md-3.col-sm-6.col-xs-6
              .row
                .text-msu Experimenter in Charge
              .row
                .text-large
                  span#ccf_experimenter_in_charge
                  +space
          .row
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu ARTEMIS K500
              .row
                .text-large
                  sup#k500_mass
                  span#k500_element
                  sup
                    span#k500_charge
                  != ' '
                  span#k500_energy
                  != ' '
                  | MeV/u
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu K1200
              .row
                .text-large
                  sup#k1200_mass
                  span#k1200_element
                  sup
                    span#k1200_charge
                  != ' '
                  span#k1200_energy
                  != ' '
                  | MeV/u
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu RF Frequency
              .row
                .text-large
                  span#ccf_rf
                  != ' '
                  | MHz
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu A1900
              .row
                .text-large
                  sup#a1900_mass
                  span#a1900_element
                  sup
                    span#a1900_charge
                  +space
            .col-lg-1.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu Vault
              .row
                .text-large
                  span#ccf_vault
                  +space
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu Status
              .row
                .text-large
                  span#ccf_status
                  +space
          .row
            +progress('ccf_progress')
          .row.text-mlarge
            +time-axis
      .row
        .well#rea
          .row
            .col-lg-3.col-md-3.col-sm-6.col-xs-6
              .row
                .text-msu ReA Current Experiment
              .row
                .text-xlarge
                  span#rea_experiment_number
                  != ' - '
                  span#rea_experiment_spokesperson
            .col-lg-6.col-md-6.col-sm-6
              .row
                .col
                  +space
              .row
                .text-large.text-center
                  span#rea_experiment_title
            .col-lg-3.col-md-3.col-sm-6.col-xs-6
              .row
                .text-msu Experimenter in Charge
              .row
                .text-large
                  span#rea_experimenter_in_charge
                  +space
          .row
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu EBIT ReA
              .row
                .text-large
                  sup#rea_mass
                  span#rea_element
                  sup
                    span#rea_charge
                  != ' '
                  span#rea_energy
                  != ' '
                  | MeV/u
            .col-lg-2.col-lg-offset-2.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu RF Frequency
              .row
                .text-large
                  #rea_rf 80.500
                    != ' '
                    | MHz
            .col-lg-1.col-lg-offset-2.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu Vault
              .row
                .text-large
                  span#rea_vault
                  +space
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
              .row
                .text-msu Status
              .row
                .text-large
                  span#rea_status
                  +space
          .row
            +progress('rea_progress')
          .row.text-mlarge
            +time-axis
      //- Operators
      .row
        .well#ops
          .row
            .inline
              .inline
                img#charge_image(alt='Operator in charge', height='144px', data-src='holder.js/108x144/text:Operator in charge')
              .inline
                .text-msu Operator
                .text-msu in charge
                .text-large
                  #charge_first
                  #charge_last
            .inline#operators
            .inline
              .inline
                img#beam_image(alt='Beam Physicist on call', height='144px', data-src='holder.js/108x144/text:Beam Physicist on call')
              .inline
                .text-msu Beam Physicist
                .text-msu on call
                .text-large
                  #beam_first
                  #beam_last
            .inline
              .inline
                img#co_image(alt='Beam Coordinator', height='144px', data-src='holder.js/108x144/text:Beam Coordinator')
              .inline
                .text-msu Beam
                .text-msu Coordinator
                .text-large
                  #co_first
                  #co_last
      //- Status
      .row
        .well.last-group-item#last
          .row
            .col-lg-2.col-md-4.col-sm-6.col-xs-6
              .text-large.text-center
                 CCF Attenuator:
                  div#ccf_att
            .col-lg-3.col-md-4.col-sm-6.col-xs-6.text-large
              .row.text-center
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  strong Vault Secure Status
              .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                  .row
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                      i.fa.fa-circle#k5
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                      strong K500
                  .row
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                      i.fa.fa-circle#k12
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                      strong K1200
                  .row
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                      i.fa.fa-circle#a19
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                      strong A1900
                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                  .row
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                      i.fa.fa-circle#s1
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                      strong S1
                  .row
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                      i.fa.fa-circle#s3
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                      strong S3
                  .row
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                      i.fa.fa-circle#n3
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                      strong N3
                  .row
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                      i.fa.fa-circle#n4
                    .col-lg-9.col-md-9.col-sm-9.col-xs-9
                      strong N4
            .col-lg-7.col-md-12.col-sm-12.col-xs-12
              #beam-plot


block js
  script(type='text/javascript', src='./dependencies/jquery/dist/jquery.js')
  script(type='text/javascript', src='./dependencies/dygraphs/dygraph-combined.js')
  script(type='text/javascript', src='./dependencies/holderjs/holder.js')
  script(type='text/javascript', src='./dependencies/moment/moment.js')
  script(type='text/javascript', src='./dependencies/jsonpath/lib/jsonpath.js')
  script(type='text/javascript', src='./javascripts/datau.js')
