doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title= dataU
    link(rel='stylesheet', href='/dependencies/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/dependencies/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-fluid.no-padding
      block content

    block js
