html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 22px;
}

.vcenter {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */

  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  width: 100%;
  display: flex;
  align-items: center;
}

/*msu style*/

.panel-msu {
  border-color: #18453B;
}
.panel-msu > .panel-heading {
  color: #fff;
  background-color: #18453B;
  border-color: #18453B;
}
.panel-msu > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #18453B;
}
.panel-msu > .panel-heading .badge {
  color: #18453B;
  background-color: #fff;
}
.panel-msu > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #18453B;
}
.time-axis {
  display: block;
  float: left;
  width: 100%;
  /*margin: 0px 0 10px 0;*/
}
.time-spot {
  display: block;
  float: left;
  width: 25%;
}
.time-spot-end {
  display: block;
  float: left;
  width: 12.5%;
}
.no-extra-space {
  margin-bottom: 0 !important;
}
.text-msu {
  color: #18453B;
  font-size: 110%;
}
.text-strong {
  font-weight: bold;
}
.text-large {
  font-size: 158%;
}
td {
  vertical-align: top;
  text-align: left;
}
.progress-bar-idle {
  background-color: #f5f5f5;
}
.progress-bar-sof {
  background-color: #333333;
}
.progress-bar-uof {
  background-color: #ff0000;
}
.progress-bar-pdt {
  background-color: #eeaa00;
}
.progress-bar-sdt {
  background-color: #ddcc00;
}
.progress-bar-idt {
  background-color: #eeaa00;
}
.progress-bar-exr {
  background-color: #33aa00;
}
.progress-bar-xdt {
  background-color: #66aa88;
}
.inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}
.strong {
  font-weight: bold;
}

.led-success {
  color: #33aa00;
}

.bar-wrap {
  position: relative;
}

.progress-marker {
  width: 2px;
  height: 10px;
  position: absolute;
  background: black;
  bottom: -5px;
}

/*override the styles*/
.pabel {
  margin-bottom: 0px;
}

.panel-heading {
  padding: 5px 10px;
}

.panel-body {
  padding: 0px 5px;
}

.row {
  margin: 0px -10px;
}

.list-group {
  margin-bottom: 0px;
}

.list-group-item {
  padding: 5px 0px 0px 0px;
  border: 0px;
}

.well {
  margin-bottom: 0px;
  padding: 10px;
}

.last-group-item {
  padding: 5px 0px 5px 0px;
}

.no-padding {
  padding: 0px 0px;
}
